ul {
  list-style-type: none;
}

menu {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: "Roboto", sans-serif;
}

.container__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

figure.portfolio-product__border {
  margin: 0 auto;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

label {
  display: block;
  margin-top: 10px;
  margin-left: 40px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

input {
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

input:focus + svg {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  margin-top: 4px;
  display: block;
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

textarea:focus-within {
  border: 1px solid #2196f3;
  outline: none;
}

div.portfolio-product__container:hover div.portfolio-product__overlay {
  transform: translateY(0);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  margin-top: 24px;
  margin-bottom: 25px;
  color: #000000;
}
.header-logo__hightlight {
  color: #2196f3;
}

.navigation {
  display: none;
  margin-right: 453px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.navigation__menu {
  display: flex;
  justify-content: space-between;
  gap: 46px;
}
.navigation__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.navigation__link:hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__item-underscore {
  position: relative;
  top: 28px;
}
.navigation__item-underscore::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 53px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header-contact {
  display: flex;
  gap: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-contact__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #757575;
}
.header-contact__link:hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover svg {
  fill: #2196f3;
}
.header-contact__envelope-icon {
  margin-right: 10px;
  fill: #757575;
}
.header-contact__smartphone-icon {
  margin-right: 10px;
  fill: #757575;
}

.lorem-ipsum-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.lorem-ipsum-list__icon-background {
  background-color: #f5f4fa;
}
.lorem-ipsum-list__icon {
  margin-bottom: 55px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}
.lorem-ipsum-list__header {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-bottom: 10px;
}
.lorem-ipsum-list__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.what-we-do-section {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  display: flex;
  justify-content: center;
}
.what-we-do-section__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}
.what-we-do-section__item {
  position: relative;
  display: flex;
}
.what-we-do-section__label {
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}
.what-we-do-section__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  letter-spacing: 0.03em;
  justify-content: center;
  color: #ffffff;
  margin-top: 27px;
}

.team-section {
  background-color: #f5f4fa;
}
.team-section__header {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 94px;
}
.team-section__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}
.team-section__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background: #ffffff;
}
.team-section__image {
  margin: 0;
}
.team-section__description {
  background: #ffffff;
}
.team-section__name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}
.team-section__profession {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-bottom: 16px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 0;
  margin-bottom: 30px;
}
.social-icon__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-icon__item:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__item:hover svg {
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon__svg {
  fill: #afb1b8;
  margin: 12px;
}

.our-clients-section {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.our-clients-section__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}
.our-clients-section__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.our-clients-section__item:hover {
  border: 1px solid #2196f3;
}
.our-clients-section__item:hover svg {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-section__link {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.our-clients-section__icon {
  fill: #afb1b8;
}

.page-footer {
  background-color: #2f303a;
  height: 252px;
}
.page-footer__blocks {
  display: flex;
}
.page-footer__grid {
  padding-top: 60px;
}
.page-footer__link {
  color: #ffffff;
  font-family: Raleway;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  padding-top: 60px;
}
.page-footer__hightlight {
  color: #2196f3;
}
.page-footer__address {
  padding-top: 20px;
  display: block;
}
.page-footer__street {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 9px;
}
.page-footer__contact a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}
.page-footer__contact a:hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__mail {
  padding-bottom: 9px;
}

.socialmedia-footer {
  width: 206px;
  height: 80px;
  margin-top: 72px;
  margin-left: 70px;
}
.socialmedia-footer__title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}
.socialmedia-footer__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  margin-top: 20px;
}
.socialmedia-footer__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}
.socialmedia-footer__item:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socialmedia-footer__icon {
  fill: #ffffff;
  margin: 12px;
}

.newsletter {
  width: 570px;
  height: 86px;
  display: block;
  margin-top: 72px;
  margin-left: 78px;
}
.newsletter__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
}
.newsletter__grid {
  display: flex;
  gap: 12px;
}
.newsletter__input {
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.newsletter__button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}
.newsletter__icon {
  fill: #ffffff;
}

.backdrop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: not-allowed;
  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  transform: rotate(120deg);
  pointer-events: none;
}

.modal {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  cursor: auto;
  margin: auto;
  bottom: 221px;
  left: 536px;
  top: 221px;
}
.modal__button-close {
  border: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  position: relative;
  top: 8px;
  left: 91%;
  cursor: pointer;
}
.modal__form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
}
.modal__data svg {
  position: absolute;
}
.modal__container {
  position: relative;
}
.modal__icon {
  top: 11px;
  left: 12px;
  fill: #212121;
}
.modal__placeholder {
  padding-top: 12px;
  padding-left: 16px;
}
.modal__placeholder::-moz-placeholder {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__placeholder::placeholder {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__acceptance {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 55px;
  align-items: center;
  position: relative;
  top: 20px;
  bottom: 30px;
}
.modal__checkbox-hidden {
  visibility: hidden;
  position: absolute;
}
.modal__checkbox-hidden:checked ~ svg {
  visibility: visible;
  background-color: #2196f3;
}
.modal__checkbox-uncheked {
  position: relative;
}
.modal__checkbox {
  position: absolute;
  margin-top: 4px;
  margin-left: 0.5px;
  margin-bottom: 3px;
  visibility: hidden;
  fill: #ffffff;
  border-radius: 2px;
  transition-property: background-color, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__regulations {
  margin-left: 8px;
}
.modal__regulations-text {
  color: #2196f3;
  text-decoration: underline;
}
.modal__button-block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 46px;
}
.modal__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 34px;
}
.portfolio-button__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
  border: none;
  width: 121px;
  height: 38px;
  border-radius: 4px;
}
.portfolio-button__button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button__button:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-product {
  gap: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px) / 3);
  justify-content: space-between;
}
.portfolio-product__border:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-product__animation {
  position: relative;
  overflow: hidden;
}
.portfolio-product__overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  background-color: #2196f3;
  bottom: 0;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-product__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}
.portfolio-product__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 0.06em;
}
.portfolio-product__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 0.03em;
}

.section-hero {
  width: 1600px;
  height: 600px;
  max-width: 100%;
  padding-top: 32px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/image-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.section-hero__container {
  padding-top: 200px;
  padding-bottom: 280px;
}
.section-hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #ffffff;
}
.section-hero__grid-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 200px;
}
.section-hero__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
  letter-spacing: 0.06em;
  text-align: center;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 42px;
  background-color: #2196f3;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */