html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

menu {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}
body {
  font-family: "Roboto", sans-serif;
}
