.button-hamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    fill: $accentColor;
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}
