.lorem-ipsum-list {
  display: none;
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding: 0;

  &__icon-background {
    background-color: $bg-iconColor;
  }

  &__icon {
    margin-bottom: 55px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
  }

  &__header {
    color: $textColor;
    font-size: $fontSizeSmall;
    font-weight: 700;
    line-height: 16px;
    padding-bottom: 10px;
  }

  &__text {
    color: $contactColor;
    font-size: $fontSizeSmall;
    font-weight: 400;
    line-height: 24px;
  }
}
