.modal {
  position: absolute;
  background: $buttonColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  cursor: auto;
  margin: auto;
  bottom: 221px;
  left: 536px;
  top: 221px;

  &__button-close {
    border: none;
    width: 30px;
    height: 30px;
    background-color: $buttonColor;
    position: relative;
    top: 8px;
    left: 91%;
    cursor: pointer;
  }

  &__form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.03em;
    color: $textColor;
    margin: 0;
  }

  &__data svg {
    position: absolute;
  }

  &__container {
    position: relative;
  }

  &__icon {
    top: 11px;
    left: 12px;
    fill: $textColor;
  }

  &__placeholder {
    padding-top: 12px;
    padding-left: 16px;

    &::placeholder {
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__acceptance {
    display: flex;
    font-weight: 400;
    font-size: $fontSizeSmall;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 55px;
    align-items: center;
    position: relative;
    top: 20px;
    bottom: 30px;
  }

  &__checkbox-hidden {
    visibility: hidden;
    position: absolute;

    &:checked ~ svg {
      visibility: visible;
      background-color: $accentColor;
    }
  }

  &__checkbox-uncheked {
    position: relative;
  }

  &__checkbox {
    position: absolute;
    margin-top: 4px;
    margin-left: 0.5px;
    margin-bottom: 3px;
    visibility: hidden;
    fill: $buttonColor;
    border-radius: 2px;
    transition-property: background-color, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__regulations {
    margin-left: 8px;
  }

  &__regulations-text {
    color: $accentColor;
    text-decoration: underline;
  }

  &__button-block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 46px;
  }

  &__button {
    width: 200px;
    height: 50px;
    background-color: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: $fontSizeMedium;
    line-height: 30px;
    color: $buttonColor;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
}
