.page-footer {
  background-color: $bgColor;
  height: 603px;

  @include tablet {
    height: 463px;
  }

  @include desktop {
    height: 252px;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 144px;
      align-items: baseline;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__grid {
    padding-top: 60px;
  }

  &__link {
    color: $buttonColor;
    font-family: Raleway;
    font-style: bold;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    padding-top: 60px;
  }

  &__hightlight {
    color: $accentColor;
  }

  &__address {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      display: flex;
      align-items: flex-start;
      padding-top: 20px;
    }
  }

  &__street {
    color: $buttonColor;
    font-size: $fontSizeSmall;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 9px;
  }

  &__contact a {
    color: $buttonColor;
    font-size: $fontSizeSmall;
    font-weight: 400;
    line-height: 24px;
    display: block;

    &:hover {
      color: $accentColor;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__mail {
    padding-bottom: 9px;
  }
}
