.section-hero {
  width: 1600px;
  height: 600px;
  max-width: 100%;
  padding-top: 32px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/image-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;

  &__container {
    padding-top: 200px;
    padding-bottom: 280px;
  }

  &__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: $buttonColor;

    @include desktop {
      font-size: $fontSizeHeader;
    }
  }

  &__grid-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 200px;
  }

  &__button {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;
    letter-spacing: 0.06em;
    text-align: center;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    padding: 10px 42px;
    background-color: $accentColor;
    color: $buttonColor;
  }
}
