.socialmedia-footer {
  width: 206px;
  height: 80px;
  margin-top: 72px;
  margin-left: 70px;

  &__title {
    color: $buttonColor;
    font-family: $fontFamilyGlobal;
    font-size: $fontSizeSmall;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin-top: 20px;

    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $bg-footerColor;

    &:hover {
      background-color: $accentColor;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon {
    fill: $buttonColor;
    margin: 12px;
  }
}
