.team-section {
  display: none;
  background-color: $bg-iconColor;

  &__header {
    color: $textColor;
    font-size: $fontSizeTitle;
    font-weight: 700;
    line-height: 42px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 94px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
  }

  &__item {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    background: $buttonColor;
  }

  &__image {
    margin: 0;
  }

  &__description {
    background: $buttonColor;
  }

  &__name {
    color: $textColor;
    font-size: $fontSizeMedium;
    font-weight: 500;
    line-height: 19px;
  }

  &__profession {
    color: $contactColor;
    font-size: $fontSizeMedium;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 16px;
  }
}
