$primaryColor: #000000;
$accentColor: #2196f3;
$textColor: #212121;
$contactColor: #757575;
$buttonColor: #ffffff;
$bg-iconColor: #f5f4fa;
$bg-labelColor: rgba(47, 48, 58, 0.8);
$social-iconColor: #afb1b8;
$bgColor: #2f303a;
$bg-footerColor: rgba(0, 0, 0, 0.25);
$modalColor: rgba(0, 0, 0, 0.2);
$fontFamilyGlobal: "Roboto", sans-serif;
$fontFamilyLogo: "Raleway", sans-serif;
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeBig: 18px;
$fontSizeHeader: 44px;
$fontSizeTitle: 36px;
